@model   SEO.API.Models.SearchViewModel
<link href="~/css/SEOMain.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Get Info Track Search Results";
}

<div class="divMain">
    <div class="divlogo">
        <img src="~/images/infotrack.jpg" />
    </div>
    <div class="divText"><input type="text" id="searchText"/></div>
    <div class="divImg"><img src="~/images/search-icon-large.png" /></div>
</div>
