@model SEO.API.Models.SearchViewModel
<link href="~/css/SEOMain.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Get Info Track Search Results";
}

<div class="divMain" style="border: black 1px solid">
    <div class="divlogo" style="border: red 1px solid">
        <img src="~/images/download.png" style="width: 100px" />
    </div>
    <div class="divText"><input type="text" id="searchText" /></div>
    <div class="divImg"><img src="~/images/images.png" style="width: 50px" /></div>
</div>
